:root {
    --font-family: 'Courier New', Courier, monospace;
    --font-family2: Helvetica, sans-serif;
    --font-color: #cccccc;
    --bg-color: #0D1317;
    --color1:  #161616;
    --color2: #0000006b;
}

html {
    background-color: #0D1317;
  }

#top-container {
    flex-direction: row;
    display: flex;
}

#station_name {
    font-family: var(--font-family2); 
    color: var(--font-color); 
    text-align: center; 
    padding: 2rem 0;  
    font-size: 24pt;
}

table {
    font-family: var(--font-family);
    color: var(--font-color);
    table-layout: auto;
    word-wrap: normal;
    margin: auto;
}

#tbl_all_arrivals {
    width: 50%; 
    border-collapse: collapse; 
}

table tr:nth-child(odd) {
    background-color: var(--color1); 
}

table tr:nth-child(even) {
    background-color: var(--color2);
}

#tbl_all_arrivals th, #tbl_all_arrivals td {
    text-align: left;  
    padding: .5rem; 
}

.flex-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem; 
    justify-content: center;
}

#info_by_route {
    font-family: var(--font-family);
    color: var(--font-color);
    font-weight: lighter;
    font-size: 12pt;
}

#info_by_route table {
    width: 100%;
    border-collapse: collapse;
    margin: 0.25rem;
    padding: .5rem;
}