{% load static %}

<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <script src="{% static 'js/websocket.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
        
        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.init.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
        <script type="text/javascript" src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
        
        <title>Train Information</title>
    </head>
    <body>
            {% block content %}
            {% endblock %}
    </body>