{% load static %}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{% block title %} Passenger Information {% endblock %}</title>
        <meta charset="UTF-8">

        <script src="https://unpkg.com/htmx.org"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <script src="https://unpkg.com/htmx.org"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
        <header>

        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>

        </footer>

    </body>
</html>