{% load static %}
{% load custom_tags %}
{% block extra_head %}
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <link rel="stylesheet" href="{% static 'subway_surfer/styles/map.css' %}"/>
    <script src="{% static 'subway_surfer/js/load_map_data.js' %}"></script>
{% endblock %}

<!--
    Might want to use ajax for this since I just want to update the map layer
    instead of the whole map.

    TO-DO: Refresh on interval
-->
{{ train_loc_data|json_script:"train_loc_data" }}



<form>
{{ agency_check }}
<button type="submit">Submit</button>
</form>
<h3>{{ agency }}</h3>
<div id="data-fetcher"
     data-trainInfo="{{ train_loc_data|safe }}"
     hx-get="/map/{{ agency }}/"
     hx-trigger="every 5s"
     hx-target="#data-fetcher"
     hx-swap="outerHTML"
     hx-select="#data-fetcher"
     hx-after-get="displayTrainMarkers">
</div>

<div id="map">Map<br>
    <script src="{% static 'subway_surfer/js/map.js' %}">
    </script>
</div>

{% if septa_shapes %}
<script>
    var shape_data = JSON.parse('{{ septa_shapes|safe }}')
    displayShapes(shape_data);
</script>
{% endif %}
{% if njt_shapes %}
<script>
    var shape_data = JSON.parse('{{ njt_shapes|safe }}')
    displayShapes(shape_data);
</script>
{% endif %}