
{% extends 'base.html' %}
{% block title %} {{ station }} {% endblock %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'subway_surfer/styles/info_board/info_board.css' %}">
    <link rel="stylesheet" href="{% static 'subway_surfer/styles/info_board/table_row.css' %}">
{% endblock %}

{% block content %}

<h3 id = "station_name">Train Information for {{ station }}</h3>

    {% include "time.html" %}

    {% include "info_board/select.html" %}

<!-- TO DO:  Make this dynamic instead of hard-coding "all" -->
    <div id="top-container" class="flex-container">
        <table id="tbl_all_arrivals">

                {% include 'info_board/header.html' with show_all_arrivals=True %}

            <tbody hx-post="/update_arrivals_table/tbl_all_arrivals/" 
                hx-trigger="every 5s" 
                hx-swap="innerHTML" 
                hx-vals='{"station": "{{ station }}", "csrfmiddlewaretoken": "{{ csrf_token }}"}'>
                    {% include 'info_board/table_rows.html' with arrivals=all_arrivals_ctx show_all_arrivals=True %}
            </tbody>

        </table>
    
    </div>

<!-- TO DO:  Make this dynamic instead of hard coding routes and relying on if statements -->
<div id="info_by_route" class="flex-container">
        {% if air_arrivals_ctx %}
            {% include 'info_board/routes/septa_air.html' with station=station arrivals=air_arrivals_ctx %}
        {% endif %}
        
        {% if che_arrivals_ctx %}
            {% include 'info_board/routes/septa_che.html' with station=station arrivals=che_arrivals_ctx %}
        {% endif %}
    
        {% if chw_arrivals_ctx %}
            {% include 'info_board/routes/septa_chw.html' with station=station arrivals=chw_arrivals_ctx %}
        {% endif %}
    
        {% if lan_arrivals_ctx %}
            {% include 'info_board/routes/septa_lan.html' with station=station arrivals=chw_arrivals_ctx %}
        {% endif %}
   
        {% if med_arrivals_ctx %}
            {% include 'info_board/routes/septa_med.html' with station=station arrivals=med_arrivals_ctx %}
        {% endif %}
    
        {% if fox_arrivals_ctx %}
            {% include 'info_board/routes/septa_fox.html' with station=station arrivals=fox_arrivals_ctx %}
        {% endif %}
    
        {% if nor_arrivals_ctx %}
            {% include 'info_board/routes/septa_nor.html' with station=station arrivals=nor_arrivals_ctx %}
        {% endif %}
   
        {% if pao_arrivals_ctx %}
            {% include 'info_board/routes/septa_pao.html' with station=station arrivals=pao_arrivals_ctx %}
        {% endif %}
  
        {% if cyn_arrivals_ctx %}
            {% include 'info_board/routes/septa_cyn.html' with station=station arrivals=cyn_arrivals_ctx %}
        {% endif %}
    
        {% if tre_arrivals_ctx %}
            {% include 'info_board/routes/septa_tre.html' with station=station arrivals=tre_arrivals_ctx %}    
        {% endif %}
 
        {% if war_arrivals_ctx %}
            {% include 'info_board/routes/septa_war.html' with station=station arrivals=war_arrivals_ctx %}    
        {% endif %}

        {% if wil_arrivals_ctx %}
            {% include 'info_board/routes/septa_wil.html' with station=station arrivals=wil_arrivals_ctx %}    
        {% endif %}

        {% if wtr_arrivals_ctx %}
            {% include 'info_board/routes/septa_wil.html' with station=station arrivals=wil_arrivals_ctx %}    
        {% endif %}
    
</div>
{% endblock %}