
{% load static %}
{% block extra_head %}

    <script src="https://unpkg.com/htmx.org"></script>
    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include your JavaScript file -->
    <script src="{% static 'subway_surfer/js/update_table.js' %}"></script>
    
{% endblock %}
<h1 id = "station">Train Information for {{ station }}</h1>

<script type="text/javascript">
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_all_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_air_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_che_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_chw_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_lan_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_med_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_fox_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_nor_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_pao_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_cyn_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_war_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_wil_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_tre_arrivals");
    update_table("{{ csrf_token }}", "{{ station }}", "tbl_wtr_arrivals");
</script>
    <table id="tbl_all_arrivals">
        {% include 'info_board/header.html' %}
        <tbody>
            {% include 'info_board/table_rows.html' with arrivals=all_arrivals_ctx %}
        </tbody>
    </table>

    {% include "info_board/select.html" %}

<div id="info_by_route">
    <div>
        <h>AIRPORT</h>
        <table id="tbl_air_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
            {% include 'info_board/table_rows.html' with arrivals=air_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    <div>
        <h>CHESTNUT HILL EAST</h>
        <table id="tbl_che_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=che_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    <div>
        <h>CHESTNUT HILL WEST</h>
        <table id="tbl_chw_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=chw_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    <div>
        <h>
            LANDSALE
        </h>
        <table id="tbl_lan_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=lan_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    <div>
        <h>
            MEDIA
        </h>
        <table id="tbl_med_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=med_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    
    <div>
        <h>
            FOX CHASE
        </h>
        <table id="tbl_fox_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=fox_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    
    <div>
        <h>
            NORRISTOWN
        </h>
        <table id="tbl_nor_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=nor_arrivals_ctx %}
            </tbody>
        </table>
    </DIV>
    
    <div>
        <h>
            PAOLI/THORNDALE
        </h>
        <table id="tbl_pao_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=pao_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    
    <div>
        <h>
            CYNWYD
        </h>
        <table id="tbl_cyn_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=cyn_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    
    <div>
        <h>
            TRENTON
        </h>
        <table id="tbl_tre_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=tre_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    
    <div>
        <h>
            WARMINSTER
        </h>
        <table id="tbl_war_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=war_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    
    <div>
        <h>
            NEWARK/WILMINGTON
        </h>
        <table id="tbl_wil_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=wil_arrivals_ctx %}
            </tbody>
        </table>
    </div>
    
    <div>
        <h>
            WEST TRENTON
        </h>
        <table id="tbl_wtr_arrivals">
            {% include 'info_board/header.html' %}
            <tbody>
                {% include 'info_board/table_rows.html' with arrivals=wtr_arrivals_ctx %}
            </tbody>
        </table>
    </div>
</div>