{% load static %}

{% block extra_head %}
    <script src="{% static 'subway_surfer/js/update_table.js' %}"></script>
{% endblock %}
{% block content %}
<h1 id = "station">Train Information for {{ station }}</h1>

<script type="text/javascript">
    update_table("{{ csrf_token }}", "{{ station }}");
</script>

    <table id="arrivals">
        <thead>
            <tr>
                <th>Departure Time</th>
                <th>Train No.</th>
                <th>Line</th>
                <th>Destination</th>
                <th>Origin</th>
                <th>Status</th>
                <th>Track</th>
            </tr>
        </thead>
        <tbody>
            {% include 'info_board/table_rows.html' with arrivals=all_arrivals %}
        </tbody>
    </table>

    {% include "info_board/select.html" %}
    {% include "info_board/lines.html" %}
    {% endblock %}
