{% load static %}
<div>
    <h>AIRPORT</h>
    {% include 'info_board/arrivals.html' %}
</div>
<div>
    <h>CHESTNUT HILL EAST</h>
    {% include 'info_board/arrivals.html' %}
</div>
<div>
    <h>CHESTNUT HILL WEST</h>
    {% include 'info_board/arrivals.html' %}
</div>
<div>
    <h>
        LANDSALE
    </h>
    {% include 'info_board/arrivals.html' %}
</div>
<div>
    <h>
        MEDIA
    </h>
    {% include 'info_board/arrivals.html' %}
</div>

<div>
    <h>
        FOXCHASE
    </h>
    {% include 'info_board/arrivals.html' %}
</div>

<div>
    <h>
        NORRISTOWN
    </h>
    {% include 'info_board/arrivals.html' %}
</DIV>

<div>
    <h>
        PAOLI/THORNDALE
    </h>
    {% include 'info_board/arrivals.html' %}
</div>

<div>
    <h>
        CYNWYD
    </h>
    {% include 'info_board/arrivals.html' %}
</div>

<div>
    <h>
        TRENTON
    </h>
    {% include 'info_board/arrivals.html' %}
</div>

<div>
    <h>
        WARMINSTER
    </h>
    {% include 'info_board/arrivals.html' %}
</div>

<div>
    <h>
        NEWARK
    </h>
    {% include 'info_board/arrivals.html' %}
</div>

<div>
    <h>
        WEST TRENTON
    </h>
    {% include 'info_board/arrivals.html' %}
</div>