:root {
    --font-family: 'Courier New', Courier, monospace;
    --font-family2: Helvetica, sans-serif;
    --font-color: #cccccc;
    --bg-color: #35374B;
    --color1:  #344955;
    --color2: #50727B;
    --color3: #78A083;
    --color4: #7158e2;
}
