{% load static %}

{% block extra_head %}
      <link rel="stylesheet" href="{% static 'subway_surfer/styles/home/buttons.css' %}">
{% endblock %}

<a href="/arrivals/Gray 30th Street/">
    <button href="">
          Arrivals & Departures
    </button>
</a>

<a href="/next_to_arrive/Gray 30th Street/">
    <button>
          Next To Arrive
    </button>
</a>

<a href="/fare_calculator/">
    <button>
          Fare Calculator
    </button>
</a>

<a href="/map/">
    <button>
          Real-Time Tracking
    </button>
</a>