{% load static %}
{% block extra_head %}

    <script src="https://unpkg.com/htmx.org"></script>

    
<form method="post" action="{% url 'fare_calculator' %}">
    {% csrf_token %}
    {{ agency_slct_form }}
    <button type = "submit" value = "Submit"> Submit </button>
</form>

{% if route_slct_form %}
    <form method="post" action="{% url 'fare_calculator' %}">
        {% csrf_token %}
        {{ route_slct_form }}
        <button type = "submit" value = "Submit"> Submit </button>
    </form>
{% endif %}
{% endblock %}