{% load static %}
{% block extra_head %}

    <script src="https://unpkg.com/htmx.org"></script>

    
<form method="post" action="{% url 'fare_calculator' %}">
    {% csrf_token %}
    {{ agency_slct_form }}
    <button type = "submit" value = "Submit"> Submit </button>
</form>

{% if origin_form %}
    <form method="post" action="{% url 'fare_calculator' %}">
        {% csrf_token %}
        {{ origin_form }}
        <button type = "submit" value = "Submit"> Submit Origin</button>
    </form>
{% endif %}

{% if dest_form %}
    <form method="post" action="{% url 'fare_calculator' %}">
        {% csrf_token %}
        {{ dest_form }}
        <button type = "submit" value = "Submit"> Submit Destination</button>
    </form>
{% endif %}

<h2>{{ price }}</h2>
{% endblock %}